:root {
  --color-primary: #3ed4d4;
  --color-primary-light: #00ffff;
  --color-primary-dark: #098f8f;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-bluegrey-light-1: #e8f7f7;
  --color-bluegrey-light-2: #d4ebeb;
  --shadow-dark: rgba(0,0,0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 135rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem var(--shadow-dark);
  position: relative;
  min-height: 50rem; }

.header {
  padding: 0 8rem;
  background-color: var(--color-bluegrey-light-1); }
  .header__menus {
    font-size: 2rem;
    height: 8rem;
    display: flex;
    align-items: center;
    position: relative; }
  .header__logo {
    height: 100%;
    flex: 0 0 10%;
    display: flex;
    align-items: center; }
    .header__logo-check {
      opacity: 0; }
    .header__logo-big, .header__logo-small {
      flex: 0 0 25%;
      height: 100%;
      position: relative;
      bottom: .8rem; }
    .header__logo-big {
      transition: transform .7s linear; }
    .header__logo-small {
      transform: translateX(-4rem);
      transition: transform .7s linear, opacity .5s linear .3s; }
    .header__logo-text {
      position: relative;
      right: 4rem;
      font-size: 2.5rem;
      transition: right .4s linear .7s; }
  .header__lines-big {
    width: 7rem;
    height: 4px;
    background-color: var(--color-primary);
    position: relative;
    transition: top .5s linear .7s, left .5s linear .7s, transform .5s linear .7s, width .4s linear .7s; }
    .header__lines-big_left {
      transform: rotate(-59deg);
      top: 5rem;
      left: -1.6rem; }
    .header__lines-big_bottom {
      top: 7.5rem;
      left: 0; }
    .header__lines-big_right {
      transform: rotate(63deg);
      left: 1.8rem;
      top: 4rem; }
  .header__lines-small {
    width: 5.5rem;
    height: 4px;
    background-color: var(--color-primary);
    position: relative; }
    .header__lines-small_left {
      transform: rotate(-59deg);
      top: 5.5rem;
      right: 1.2rem; }
    .header__lines-small_bottom {
      top: 7.5rem; }
    .header__lines-small_right {
      transform: rotate(63deg);
      left: 1.4rem;
      top: 4.5rem; }
  .header__logo:hover .header__logo-big {
    transform: translateX(1.7rem); }
  .header__logo:hover .header__logo-small {
    transform: translateX(-5.5rem);
    opacity: 0; }
  .header__logo:hover .header__lines-big_left {
    transform: rotate(0deg);
    width: 5rem;
    left: 1rem; }
  .header__logo:hover .header__lines-big_bottom {
    width: 5.5rem;
    top: 6rem;
    left: 1rem; }
  .header__logo:hover .header__lines-big_right {
    transform: rotate(0deg);
    width: 5.5rem;
    top: 3rem;
    left: 1rem; }
  .header__logo:hover .header__logo-text {
    right: 2rem; }
  .header__nav {
    height: 100%;
    margin-left: auto;
    display: flex; }
    .header__nav > * {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      cursor: pointer; }
    .header__nav > *:hover {
      background-color: var(--color-bluegrey-light-2); }
    .header__nav-icon {
      display: inline-block;
      width: 5.25rem;
      height: 4.25rem;
      fill: var(--color-grey-dark-2); }
    .header__nav-photo {
      height: 6.75rem;
      width: 5.75rem;
      border-radius: 50%;
      margin-right: 1rem; }
