:root {
  --color-primary: #3fd5d5;
  --color-primary-light: rgb(0, 255, 255);
  --color-primary-dark: rgb(9, 143, 143);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-bluegrey-light-1: #e8f7f7;
  --color-bluegrey-light-2: #d4ebeb;
  --color-bluegrey-dark-1: #baf4ff;
  --shadow-dark: rgba(0,0,0, .3);
  --shadow-light: 5px 10px 21px -3px #C1DDDB;
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: 1.6rem;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease-in .12s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.carousel {
  width: 58rem;
  height: 37rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  position: relative;
  top: 4rem;
  right: 5rem;
  clip-path: polygon(7% 6%, 100% 0, 93% 93%, 0% 100%); }
  .carousel::-webkit-scrollbar {
    display: none; }
  .carousel__item {
    flex: 0 0 100%;
    scroll-snap-align: start; }
    .carousel__item_3 {
      background-image: linear-gradient(135deg, rgba(255, 0, 217, 0.2), rgba(143, 9, 123, 0.2)), url(../img/hotel-1.jpg);
      background-size: cover;
      transition: all 1s; }
      .carousel__item_3:hover {
        background-image: linear-gradient(135deg, transparent, transparent), url(../img/hotel-1.jpg);
        background-size: cover; }
    .carousel__item_2 {
      background-image: linear-gradient(135deg, rgba(85, 255, 0, 0.2), rgba(9, 143, 22, 0.2)), url(../img/hotel-2.jpg);
      background-size: cover; }
      .carousel__item_2:hover {
        background-image: linear-gradient(135deg, transparent, transparent), url(../img/hotel-2.jpg);
        background-size: cover; }
    .carousel__item_1 {
      background: linear-gradient(135deg, rgba(0, 255, 255, 0.2), rgba(9, 143, 143, 0.5)), url(../img/hotel-3.jpg);
      background-size: cover; }
      .carousel__item_1:hover {
        background-image: linear-gradient(135deg, transparent, transparent), url(../img/hotel-3.jpg);
        background-size: cover; }
  .carousel__caption {
    width: 24rem;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: var(--color-primary-dark);
    color: #fff;
    border-bottom: solid 2px;
    position: relative;
    top: 37rem;
    left: 5rem;
    transition: all .5s; }
  .carousel__item:hover .carousel__caption {
    top: 31rem; }
  .carousel__nav {
    position: absolute;
    right: 11rem;
    bottom: .5rem; }
  .carousel__link {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: linear-gradient(45deg, transparent, #fff);
    border: solid #fff 1.5px;
    border-radius: 50%; }
    .carousel__link:hover {
      width: 2.5rem;
      height: 2.5rem; }

.container {
  max-width: 125rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem var(--shadow-dark);
  position: relative;
  min-height: 50rem; }

.content {
  margin-top: 10rem;
  padding: 0 8rem;
  font-size: 2rem; }

.cta {
  padding: 0 0 3.5rem;
  text-align: center; }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 2.5rem; }
  .cta__btn {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .cta__btn > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all .5s ease-out .25s; }
    .cta__btn-visible {
      padding: 2.5rem 7.5rem; }
    .cta__btn-invisible {
      padding: 2.5rem 0;
      position: absolute;
      left: 0;
      top: -100%; }
    .cta__btn:hover {
      background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
    .cta__btn:hover .cta__btn-visible {
      transform: translateY(100%); }
    .cta__btn:hover .cta__btn-invisible {
      top: 0; }
    .cta__btn:focus {
      outline: none;
      animation: pulsate 1s infinite; }

.dropdown {
  background-color: #fff;
  width: 25rem;
  position: absolute;
  top: 7rem;
  right: 0rem;
  display: none;
  z-index: 2; }
  .dropdown__nav {
    font-size: 1.7rem;
    list-style-type: none; }
  .dropdown__message {
    padding: 1.5rem 2rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid; }
    .dropdown__message-photo {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%; }
    .dropdown__message-content {
      margin: 0 auto 0 2rem; }
  .dropdown__item {
    padding: 1.5rem 2rem;
    list-style-type: none;
    border-bottom: 1px solid; }
  .dropdown__item:hover, .dropdown__message:hover {
    background-color: var(--color-grey-light-2); }
  .dropdown__link:link, .dropdown__link:visited {
    color: var(--color-grey-dark-3);
    text-decoration: none; }
  .dropdown__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 1.5rem 0 0;
    fill: var(--color-primary); }

.navigation-user:hover .dropdown, .navigation-box_messages:hover .dropdown {
  display: block; }

.header {
  padding: 0 8rem;
  background-color: var(--color-bluegrey-light-1);
  border-bottom: var(--line); }
  .header__main {
    display: flex; }
  .header__description {
    flex: 0 0 50%;
    padding: 10rem 0;
    position: relative; }
  .header__title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .header__gallery {
    position: relative; }

.hotel-description {
  display: flex;
  justify-content: space-between; }
  .hotel-description__features {
    flex: 0 0 55%; }
  .hotel-description__paragraph:not(:last-of-type) {
    margin-bottom: 2rem; }
  .hotel-description__list {
    text-align: center;
    list-style-type: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap; }
    .hotel-description__list > li {
      flex: 0 0 50%;
      margin-bottom: .7rem; }
    .hotel-description__list > li::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .7rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .hotel-description__list > li::before {
          background-color: var(--color-primary);
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../img/chevron-thin-right.svg);
          mask-size: cover;
          background-image: none; } }
  .hotel-description__recommend {
    margin: auto 0;
    color: var(--color-grey-dark-3); }
  .hotel-description__friends {
    display: flex; }
  .hotel-description__photo {
    box-sizing: content-box;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .hotel-description__photo:not(:last-child) {
      margin-right: -1.5rem; }

.navigation {
  height: 100%;
  margin-left: auto;
  display: flex; }
  .navigation > * {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    cursor: pointer; }
  .navigation > *:hover {
    background-color: var(--color-bluegrey-light-2); }
  .navigation-icon {
    display: inline-block;
    width: 5.25rem;
    height: 4.25rem;
    fill: var(--color-grey-dark-2); }
  .navigation-photo {
    height: 6.75rem;
    width: 5.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.reviews__title {
  font-weight: 600;
  font-size: 2rem; }

.reviews__quotes {
  margin-top: 2rem;
  padding: 5rem 0 4rem;
  border-top: 3px solid;
  border-bottom: 3px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }

.reviews__square {
  flex: 0 0 45%; }
  .reviews__square::before {
    content: "\201C";
    position: absolute;
    bottom: 16rem;
    font-size: 10rem;
    font-family: sans-serif; }

.reviews__text {
  position: relative; }

.reviews__user {
  margin-top: 2.5rem;
  display: flex;
  align-items: center; }

.reviews__photo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%; }

.reviews__info {
  margin: 0 auto 0 2rem; }

.reviews__name {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 .4rem; }

.reviews__date {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3); }

.reviews__rating {
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-primary); }

.reviews__arrows {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 2rem; }
  .reviews__arrows * {
    color: var(--color-grey-dark-2);
    font-size: 5rem;
    border: none;
    background-color: inherit;
    transition: all .5s ease .25s; }
    .reviews__arrows *:hover {
      color: var(--color-primary); }
  .reviews__arrows-left:hover {
    transform: translateX(-0.5rem) scale(1.2); }
  .reviews__arrows-right:hover {
    transform: translateX(0.5rem) scale(1.2); }

.overview {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem; }
  .overview__star, .overview__location-pin {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0 .5rem; }

.search-bar__input {
  width: 80%;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  padding: 1.1rem 2rem;
  border-radius: 10rem;
  box-shadow: var(--shadow-light);
  transition: all .4s ease-out .2s; }
  .search-bar__input:focus {
    outline: none;
    width: 90%;
    background-color: var(--color-bluegrey-light-2);
    border-radius: 2rem 2rem 0 0; }

.search-bar__button {
  position: relative;
  right: 5rem;
  border: none;
  background-color: #fff;
  transition: all .4s ease-out .2s; }

.search-bar__input:focus + .search-bar__button {
  background-color: var(--color-bluegrey-light-2); }

.search-bar__icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-dark-3); }

.search-bar__suggestion {
  font-size: 1.5rem;
  background-color: var(--color-bluegrey-light-2);
  border-radius: 0 0 2rem 2rem;
  width: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity .4s ease-out .4s;
  z-index: 2; }

.search-bar__input:focus ~ .search-bar__suggestion {
  width: 90%;
  opacity: 1; }

.search-bar__list > li:hover {
  background-color: #fff; }

.top-menu {
  font-size: 2rem;
  height: 8rem;
  display: flex;
  align-items: center;
  position: relative; }
  .top-menu__logo {
    height: 100%;
    flex: 0 0 10%;
    display: flex;
    align-items: center; }
    .top-menu__logo-check {
      opacity: 0; }
    .top-menu__logo-big, .top-menu__logo-small {
      flex: 0 0 25%;
      height: 100%;
      position: relative;
      bottom: .8rem; }
    .top-menu__logo-big {
      transition: transform .5s linear; }
    .top-menu__logo-small {
      transform: translateX(-4rem);
      transition: transform .5s linear, opacity .3s linear .25s; }
    .top-menu__logo-text {
      position: absolute;
      left: 10rem;
      font-size: 2.3rem; }
  .top-menu__lines-big {
    width: 7rem;
    height: .4rem;
    background-color: var(--color-primary);
    position: relative;
    transition: top .3s linear .5s, left .3s linear .5s, transform .3s linear .5s, width .25s linear .5s; }
    .top-menu__lines-big_left {
      transform: rotate(-59deg);
      top: 5rem;
      left: -1.6rem;
      transition: opacity .3s .5s, left .3s linear .5s, transform .3s linear .5s, width .25s linear .5s; }
    .top-menu__lines-big_bottom {
      top: 7.5rem;
      left: 0; }
    .top-menu__lines-big_right {
      transform: rotate(63deg);
      left: 1.8rem;
      top: 4rem; }
  .top-menu__lines-small {
    width: 5.5rem;
    height: 4px;
    background-color: var(--color-primary);
    position: relative; }
    .top-menu__lines-small_left {
      transform: rotate(-59deg);
      top: 5.5rem;
      right: 1.2rem; }
    .top-menu__lines-small_bottom {
      top: 7.5rem;
      left: 0; }
    .top-menu__lines-small_right {
      transform: rotate(63deg);
      left: 1.4rem;
      top: 4.5rem;
      transition: opacity .5s linear; }
  .top-menu__logo *:hover {
    cursor: pointer; }
  .top-menu__logo:hover .top-menu__logo-big {
    transform: translateX(1.7rem); }
  .top-menu__logo:hover .top-menu__logo-small {
    transform: translateX(-5.5rem);
    opacity: 0; }
  .top-menu__logo:hover .top-menu__lines-small_right {
    opacity: 0; }
  .top-menu__logo:hover .top-menu__lines-big_left {
    transform: rotate(0deg);
    width: 5rem;
    left: 0; }
  .top-menu__logo:hover .top-menu__lines-big_bottom {
    width: 5.5rem;
    top: 6rem;
    left: 0; }
  .top-menu__logo:hover .top-menu__lines-big_right {
    transform: rotate(0deg);
    width: 5.5rem;
    top: 3rem;
    left: 0; }
  .top-menu__logo-check:checked ~ .top-menu__logo-big {
    transform: translateX(1.7rem); }
  .top-menu__logo-check:checked ~ .top-menu__logo-small {
    transform: translateX(-5.5rem);
    opacity: 0; }
  .top-menu__logo-check:checked ~ .top-menu__logo-small .top-menu__lines-small_right {
    opacity: 0; }
  .top-menu__logo-check:checked ~ .top-menu__logo-big .top-menu__lines-big_left {
    opacity: 0; }
  .top-menu__logo-check:checked ~ .top-menu__logo-big .top-menu__lines-big_bottom {
    width: 5rem;
    top: 4.25rem;
    left: 0;
    transform: rotate(-138deg); }
  .top-menu__logo-check:checked ~ .top-menu__logo-big .top-menu__lines-big_right {
    transform: rotate(140deg);
    width: 5rem;
    top: 3.8rem;
    left: 0; }
