.carousel {
  width: 58rem;
  height: 37rem;
  overflow: hidden;
  position: relative;
  top: 4rem;
  right: 5rem;
  clip-path: polygon(8% 8%, 100% 0, 92% 93%, 0% 100%);

  @media only screen and (max-width: 73.4em){
    width: 52rem;
  }

  @media only screen and (max-width: 67.2em){
    width: 58rem;
  }

  @media only screen and (max-width: $bp-930px) {
    top: -4rem;
    right: 0;
  }

  @media only screen and (max-width: $bp-450px) {
    top: -4rem;
    right: 8rem;
  }


  &__images {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__item {
    flex: 0 0 100%;
    position: relative;

    &_3 {
      background-image: linear-gradient(135deg, 
                                     rgba(255, 0, 217, 0.2), 
                                     rgba(143, 9, 123, 0.2)), 
                                     url(../img/hotel-1-small.jpg);
      background-size: cover;

    @media (min-resolution:192dpi) and (min-width: 37.5em) {
      background-image: linear-gradient(135deg, 
                                     rgba(255, 0, 217, 0.2), 
                                     rgba(143, 9, 123, 0.2)), 
                                     url(../img/hotel-1.jpg);
      background-size: cover;
    }

      &:hover {
        background-image: linear-gradient(135deg, 
                                      transparent,
                                      transparent), 
                                      url(../img/hotel-1-small.jpg);
        background-size: cover;


      @media (min-resolution:192dpi) and (min-width: 37.5em) {
        background-image: linear-gradient(135deg, 
                                      transparent, 
                                      transparent), 
                                      url(../img/hotel-1.jpg);
        background-size: cover;
      }
      }
      
    }

    &_2 {
      background-image: linear-gradient(135deg, 
                                     rgba(85, 255, 0, 0.2), 
                                     rgba(9, 143, 22, 0.2)), 
                                     url(../img/hotel-2-small.jpg);
      background-size: cover;

    @media (min-resolution:192dpi) and (min-width: 37.5em) {
      background-image: linear-gradient(135deg, 
                                     rgba(85, 255, 0, 0.2), 
                                     rgba(9, 143, 22, 0.2)), 
                                     url(../img/hotel-2.jpg);
      background-size: cover;
    }

      &:hover {
        background-image: linear-gradient(135deg, 
                                      transparent,
                                      transparent), 
                                      url(../img/hotel-2-small.jpg);
        background-size: cover;

      @media (min-resolution:192dpi) and (min-width: 37.5em) {
        background-image: linear-gradient(135deg, 
                                      transparent, 
                                      transparent), 
                                      url(../img/hotel-2.jpg);
        background-size: cover;
      }
      }
    }

    &_1 {
      background: linear-gradient(135deg, 
                                     rgba(0, 255, 255, .2), 
                                     rgba(9, 143, 143,.5)), 
                                     url(../img/hotel-3-small.jpg);
      background-size: cover;

    @media (min-resolution:192dpi) and (min-width: 37.5em) {
      background: linear-gradient(135deg, 
                                     rgba(0, 255, 255, .2), 
                                     rgba(9, 143, 143,.5)), 
                                     url(../img/hotel-3.jpg);
      background-size: cover;
    }

      &:hover {
        background-image: linear-gradient(135deg, 
                                      transparent,
                                      transparent), 
                                      url(../img/hotel-3-small.jpg);
        background-size: cover;


      @media (min-resolution:192dpi) and (min-width: 37.5em) {
        background-image: linear-gradient(135deg, 
                                      transparent, 
                                      transparent), 
                                      url(../img/hotel-3.jpg);
        background-size: cover;
      }
      }


    }

  }

  &__caption {
    width: 24rem;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: var(--color-primary-dark);
    color: #fff;
    border-bottom: solid 2px;
    position: absolute;
    bottom: -3rem;
    left: 5rem;
    transition: all .5s;
  }

  &__item:hover &__caption {
    bottom: 2rem;
  }

  &__input, &__dots {
    position: absolute;
    right: 6rem;
    bottom: 3rem;
    z-index: 1;
  }

  &__input {
    opacity: 0;
  }


  &__label {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: linear-gradient(45deg, transparent, #fff);
    backdrop-filter: blur(10px);
    border: solid #fff 1.5px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  #toggle_1:checked ~ &__dots &__label_1,
  #toggle_2:checked ~ &__dots &__label_2,
  #toggle_3:checked ~ &__dots &__label_3 {
    background-image: linear-gradient(45deg, #000, transparent);
    backdrop-filter: none;
  }
  
  #toggle_2:checked ~ &__images {
    transform: translate(-58rem);
  }

  #toggle_3:checked ~ &__images {
    transform: translate(-116rem);
  }

}