.header {
  padding: 0 8rem;
  background-color: var(--color-bluegrey-light-1);

  &__menus {
    font-size: 2rem;
    height: 10rem;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__triangles {
    // display: flex;
  }

  &__lines-big {
    width: 7rem;
    height: 4px;
    background-color: var(--color-primary);
    position: relative;

    &_left {
      transform: rotate(-59deg);
      right: 1.5rem;
    }

    &_bottom {
      top: 2.8rem;
      // right: 7rem;
    }

    &_right {
      transform: rotate(63deg);
      left: 1.8rem;
      bottom: .7rem;
    }
  }

  &__lines-small {
    width: 5.5rem;
    height: 4px;
    background-color: var(--color-primary);
  }

  // &__logo {
  //   flex: 0 0 12%;
  //   height: 100%;
  //   display: flex;
  //   align-items: center;

  //   &-check {
  //     flex: 0 0 100%;
  //     height: 100%;
  //     opacity: .1;
  //   }

  //   &-big {
  //     position: absolute;  //positined based on header-menus the grand parent
  //     bottom: 0;
  //     transition: transform .7s linear;
  //   }

  //   &-small {
  //     position: absolute;
  //     bottom: 0;
  //     opacity: 1;
  //     transition: transform .7s linear, opacity .3s linear .25s;
  //   }
  // }

  // &__lines-big { //Drawn big triangle
  //   width: 7rem;
  //   height: 4px;
  //   background-color: var(--color-primary);
  //   position: absolute; //based on logo-big the parent
  //   transition: bottom .5s linear .3s, left .5s linear .3s, transform .5s linear .3s, width .4s linear .3s;

  //   &_bottom {
  //     bottom: 2rem;
  //     left: 0;
  //   }

  //   &_left {
  //     transform: rotate(-61deg);
  //     bottom: 5rem;
  //     left: -1.6rem;
  //   }

  //   &_right {
  //     transform: rotate(61deg);
  //     bottom: 5rem;
  //     left: 1.7rem;
  //   }
  // }

  // &__lines-small { //Drawn small triangle
  //   width: 5.5rem;
  //   height: 4px;
  //   opacity: 1;
  //   background-color: var(--color-primary);
  //   position: absolute;
  //   transition:  left .5s linear, opacity .5s linear .25s;

  //   &_bottom {
  //     bottom: 2rem;
  //     left: 3.3rem;
  //   }

  //   &_left {
  //     transform: rotate(-60deg);
  //     bottom: 4.4rem;
  //     left: 2rem;
  //   }

  //   &_right {
  //     transform: rotate(60deg);
  //     bottom: 4.4rem;
  //     left: 4.6rem;
  //   }
  // }

  // &__logo-text {
  //   font-size: 2.5rem;
  //   position: relative;
  //   right: 5rem;
  // }

  // //animations for lines with transitions with different delays.
  // &__logo:hover &__logo-big {
  //   transform: translateX(5rem);
  // }

  // &__logo:hover &__logo-small {
  //   transform: translateX(-1.5rem);
  //   opacity: 0;
  // }

  // &__logo:hover &__lines-big_bottom {
  //   width: 5.5rem;
  //   bottom: 3.4rem;
  //   left: -1.6rem;
  // }

  // &__logo:hover &__lines-big_left {
  //   transform: rotate(0deg);
  //   width: 5rem;
  // }

  // &__logo:hover &__lines-big_right {
  //   transform: rotate(0deg);
  //   width: 5.5rem;
  //   bottom: 6.4rem;
  //   left: -1.6rem;
  // }

  &__nav {
    height: 100%;
    margin-left: auto;
    display: flex;

    & > * {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      cursor: pointer;
    }

    & > *:hover {
      background-color: var(--color-bluegrey-light-2);
    }

    &-icon {
      display: inline-block;
      width: 5.25rem;
      height: 4.25rem;
      fill: var(--color-grey-dark-2);
    }

    &-photo {
      height: 6.75rem;
      width: 5.75rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }


}