.header {
  padding: 0 8rem;
  background-color: var(--color-bluegrey-light-1);
  border-bottom: var(--line);


  &__main {
    display: flex;
  }

  &__description {
    flex: 0 0 50%;
    padding: 10rem 0;
    position: relative;
  }

  &__title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__gallery {
    position: relative;
  }

}