.overview {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  &__star,
  &__location-pin {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0 .5rem;
  }
}
