.search-bar {

  &__input {
    width: 80%;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    padding: 1.1rem 2rem;
    border-radius: 10rem;
    box-shadow: var(--shadow-light);
    transition: all .4s ease-out .2s;

    &:focus {
      outline: none;
      width: 90%;
      background-color: var(--color-bluegrey-light-2);
    }
  }

  &__button {
    position: relative;
    right: 5rem;
    border: none;
    background-color: #fff;
    transition: all .4s ease-out .2s;
  }

  &__input:focus + &__button {
    background-color: var(--color-bluegrey-light-2);
  }

  &__icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-3);
  }
}